<% @title = t(:sign_in) %>
  <div class="form_links sign_in_links">
    <div class="rubyforge_migrate">
      <%= t(:rubyforge_account) %>
    </div>
    <%= link_to t('.forgot_password'), new_password_url %>
  </div>
<% form_for :session, :url => session_path do |form| %>
  <div class="text_field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="password_field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div class="form_bottom">
    <%= form.submit t(:sign_in), :disable_with => t(:please_wait) %>
  </div>
<% end %>
